# Python files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/

# Logs
*.log

# Build files
build/
dist/

# IDE files
.idea/
.vscode/
*.iml

# Test data
tests/test_data/

# Sensitive data
*.key
*.pem
*.env

# Other
.DS_Store
Thumbs.db